<!-- Navigation -->
<nav>
    <a href="{{ path('home') }}">Inici</a>
    &nbsp;&nbsp;&nbsp;
    <a href="{{ path('compte_list') }}">Comptes</a>

    <a href="{{ path('client_list') }}">Clients</a>

    <a href="{{ path('usuari_list') }}">Usuaris</a>
</nav>